* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/***************HEADER******************/

header div {
    display: flex;
    align-items: center;
}

header div h1 {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

header img {
    width: auto;
    height: 100px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #8bc4cc;
}

nav a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
/****************BODY**********************/
body {
    margin: 0;
    padding: 0;
    color: #666;
    background: #e5e4e4;
    font-size: 1em;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main header {
    display: contents;
}

h1, h2, h4 {
    text-align: center;
    margin: 15px 0;
}

p {
    margin: 0 0 1.5em 0;
}

main {
    background: white;
    max-width: 800px;
    min-width: 600px;
    margin: 20px auto;
    padding: 40px;
    text-align: justify;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

main img {
    width: 100%;
    height: auto;
}

/**************FOOTER***************/

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
    flex-grow: 1;
}
.fi {
    margin-top: 20px;
}
footer a:hover {
    color: #8bc4cc;
}
#logoa {
    width: 80px;
    border: 2px solid #f2f2f2;
    border-radius: 100px;
}
#sareak img{
    width: 40px;
    display: inline-block;
    opacity: 0.4;
    transition: 0.3s ease;
}
#sareak img:hover {
    transition: 0.3s ease;
    opacity: 1;
}
@media screen and (max-width: 600px){
    #main-header {
        flex-direction: column;
        align-items: center;
    }
    #main-header img {
        margin: 0;
    } 
    nav ul li {
        margin-right: 15px;
    }
    nav ul li:first-child {
        margin-left: 20px;
    }
    #desplegablea-a {
        min-width: 21%;
    }
}


/********************LOGIN****************/
.hasisaioa {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Saioa Hasteko Formularioaren Estiloak (.formularioaH) */
.formularioaH {
    width: 400px;
    height: 340px;
    background: #323030;
    margin: 100px auto; 
    padding: 20px 30px;
    border-top: 4px solid #8bc4cc;
    color: #8bc4cc;
}

.formularioaH h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    font-size: 20px;
    color: white;
}

.control {
    width: 100%;
    border: 1px solid #8bc4cc;
    margin-bottom: 15px;
    padding: 15px 10px;
    background: #000000;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.botoia {
    width: 100%;
    height: 40px;
    background: #8bc4cc;
    border: none;
    color: white;
    margin-bottom: 16px;
    font-weight: bold;
}

.formularioaH p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid white;
}

.formularioaH a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.formularioaH p:hover {
    text-decoration: underline;
}

/* Beste Formulario baterako Estiloak (.formularioaI) */
.formularioaI {
    width: 400px;
    min-height: 340px;
    background: #323030;
    margin: 100px auto; 
    padding: 20px 30px;
    border-top: 4px solid #8bc4cc;
    color: #8bc4cc;
}

.formularioaI h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    font-size: 20px;
    color: white;
}

.formularioaI p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid white;
}

.formularioaI a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.formularioaI p:hover {
    text-decoration: underline;
}

input, select {
    width: 100%;
}

#main-content .formularioaH textarea {
    width: 345px;
    height: 200px;
}
